spring:
  application:
    name: spring
  aop:
    proxy-target-class: false


management:
  endpoints:
    web:
      exposure:
        include: health,info,beans,env

logging:
  level:
    web: debug

